

/* TABLET — 976px */
@media (max-width: 61rem) {
    html {
        font-size: 60%;
    }

    /* Navigation */
    nav {
        padding: 2rem 6%;
    }

    nav .btn {
        display: none;
    }

    #menu {
        display: block;
    }

    .links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 2rem 3rem;
        background: rgba(15, 15, 15, 0.97);
        display: none;
        flex-direction: column;
        gap: 2rem;
        border-bottom: 1px solid rgba(255, 0, 255, 0.2);
    }

    .links a {
        display: block;
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .links.active {
        display: flex;
    }

    /* Home */
    .home img {
        width: 25rem;
        height: 25rem;
        border-radius: 50px;
    }

    .info-box h1 {
        font-size: 5rem;
    }

    .info-box h3 {
        font-size: 2.3rem;
    }

    /* About */

    .about {
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .about-box {
        align-items: center;
        text-align: center;
    }

    .about img {
        width: 25rem;
    }

    /* Footer */
    footer {
        padding: 5rem 8%;
    }
}


/* TABLET / SMALL LAPTOP — 768px */
@media (max-width: 48rem) {
    html {
        font-size: 56.25%;
    }

    section {
        padding: 7rem 6%;
    }

    /* Home */
    .home {
        margin-top: 5rem;
    }

    .home img {
        width: 25rem;
        height: 25rem;
    }

    .info-box h1 {
        font-size: 4.5rem;
    }

    .info-box h3 {
        font-size: 2.1rem;
    }

    /* About */
    .about {
        gap: 3rem;
    }

    .about-box h1 {
        font-size: 4.5rem;
    }


    /* Services */
    .service-header,
    .Header {
        font-size: 4.8rem;
    }

    .service-container {
        grid-template-columns: 1fr;
    }

    /* Contact */
    .contact {
        padding: 7rem 6%;
    }

    .contact-layout {
        grid-template-columns: 1fr;
    }

    /* Footer */
    footer {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
    }
}


/* MOBILE — 576px */
@media (max-width: 36rem) {
    html {
        font-size: 50%;
    }

    .main-container {
        width: 100%;
    }

    section {
        padding: 6rem 5%;
    }

    /* Navigation */

    nav {
        padding: 1.8rem 5%;
    }

    .logo {
        font-size: 2.2rem;
    }
 
    /* Home */

    .home {
        padding-top: 8rem;
        gap: 2rem;
    }

    .home img {
        width: 25rem;
        height: 25rem;
        margin-top: 1rem;
    }

    .info-box {
        width: 100%;
    }

    .info-box h1 {
        font-size: 3.9rem;
        margin-bottom: -1rem;
    }

    .info-box h2 {
        font-size: 2.6rem;
    }

    .info-box p {
        font-size: 1.7rem;
        line-height: 1.8;
    }

    /* Buttons */
    .btn-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* About */
    .about {
        padding: 6rem 5%;
        gap: 3rem;
    }

    .about-box {
        width: 100%;
    }

    .about-box h1 {
        font-size: 3.8rem;
    }

    .about-box h2 {
        font-size: 3rem;
    }

    .about-box p {
        font-size: 1.7rem;
    }

    .about img {
        width: 30rem;
    }

    /* Services */
    .service-header,
    .Header {
        font-size: 3.8rem;
    }

    .box {
        padding: 2rem;
    }

    .box h1 {
        font-size: 2.2rem;
    }

    .box p {
        font-size: 1.7rem;
    }


    /* Contact */
    .contact {
        padding: 6rem 5%;
    }

    .contact .Header {
        margin-bottom: 3rem;
    }

    .contact-layout {
        gap: 1.8rem;
    }

    .contact-card {
        padding: 2.2rem;
    }

    .contact-card h3 {
        font-size: 2rem;
    }

    .contact-card p {
        font-size: 1.5rem;
    }

    .contact-card p i {
        font-size: 2.2rem;
    }

    .contact-card .contact-p{
        font-size: 1.5rem;
    }


    
    /* Footer */
    footer {
        padding: 5rem 7%;
        gap: 4rem;
    }

    .col-right {
        width: 100%;
    }

    .col-right p {
        font-size: 1.4rem;
    }

/* === */
    .about, .services, .contact{
        margin-top: 5rem;
    }
}